.alpha {
  position: absolute;
  inset: 0;
}

.checkboard {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.gradient {
  position: absolute;
  inset: 0;
  border-radius: 2px;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 3px;
}

.pointer {
  position: absolute;
}

.slider {
  width: 4px;
  border-radius: 2px;
  height: 19px;
  box-shadow: none;
  background: #fff;
  margin-top: -2px;
  transform: translateX(-2px);
}
